<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        
        <!-- Title -->
        <title>..:: LIBRARIA Admin ::..</title>
        
        <!-- Favicon -->
        <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon" />
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
        
        <!-- Mobile Menu -->
        <link th:href="@{/css/mmenu.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/mmenu.positioning.css}" rel="stylesheet" type="text/css" />
        
        <!-- Stylesheet -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script th:src="@{/js/html5shiv.min.js}"></script>
        <script th:src="@{/js/respond.min.js}"></script>
        <![endif]-->
    </head>


    <body>
        
        <!-- Start: Header Section -->
        <header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                            <a th:href="@{/}">
                                                <img th:src="@{/images/libraria-logo-v1.png}" alt="LIBRARIA" />
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                <a href="tel:+61-3-8376-6284"><i class="fa fa-phone"></i>+61-3-8376-6284</a>
                                                <span>/</span>
                                                <a href="mailto:support@libraria.com"><i class="fa fa-envelope"></i>support@libraria.com</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                <span th:if="${loggedIn}">
                                                    <a th:href="@{/account}"><i class="fa fa-user"></i> <span th:text="'Hi, ' + ${userName}">Hi, User</span></a>
                                                    <span th:if="${isAdmin}">
                                                        <span>|</span>
                                                        <a th:href="@{/admin/inventory}"><i class="fa fa-cogs"></i> Admin</a>
                                                    </span>
                                                    <span>|</span>
                                                    <a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
                                                </span>
                                                <span th:unless="${loggedIn}">
                                                    <a th:href="@{/signin}"><i class="fa fa-lock"></i>Login / Register</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown active">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" th:href="@{/}">Home</a>
                                            <ul class="dropdown-menu">
                                                <li><a th:href="@{/}">Home V1</a></li>
                                                <li><a th:href="@{/}">Home V2</a></li>
                                                <li><a th:href="@{/}">Home V3</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" th:href="@{/books}">Books &amp; Media</a>
                                            <ul class="dropdown-menu">
                                                <li><a th:href="@{/books}">Books &amp; Media List View</a></li>
                                                <li><a th:href="@{/books}">Books &amp; Media Grid View V1</a></li>
                                                <li><a th:href="@{/books}">Books &amp; Media Grid View V2</a></li>
                                                <li><a th:href="@{/books}">Books &amp; Media Detail V1</a></li>
                                                <li><a th:href="@{/books}">Books &amp; Media Detail V2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" th:href="@{/news-events}">News &amp; Events</a>
                                            <ul class="dropdown-menu">
                                                <li><a th:href="@{/news-events}">News &amp; Events List View</a></li>
                                                <li><a th:href="@{/news-events/1}">News &amp; Events Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Cart</a></li>
                                                <li><a href="#">Checkout</a></li>
                                                <li><a th:href="@{/signin}">Signin/Register</a></li>
                                                <li><a th:href="@{/}">404/Error</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" th:href="@{/news-events}">Blog</a>
                                            <ul class="dropdown-menu">
                                                <li><a th:href="@{/news-events}">Blog Grid View</a></li>
                                                <li><a th:href="@{/news-events}">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Services</a></li>
                                        <li><a th:href="@{/contact}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li>
                                        <a th:href="@{/}">Home</a>
                                        <ul>
                                            <li><a th:href="@{/}">Home V1</a></li>
                                            <li><a th:href="@{/}">Home V2</a></li>
                                            <li><a th:href="@{/}">Home V3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/books}">Books &amp; Media</a>
                                        <ul>
                                            <li><a th:href="@{/books}">Books &amp; Media List View</a></li>
                                            <li><a th:href="@{/books}">Books &amp; Media Grid View V1</a></li>
                                            <li><a th:href="@{/books}">Books &amp; Media Grid View V2</a></li>
                                            <li><a th:href="@{/books}">Books &amp; Media Detail V1</a></li>
                                            <li><a th:href="@{/books}">Books &amp; Media Detail V2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/news-events}">News &amp; Events</a>
                                        <ul>
                                            <li><a th:href="@{/news-events}">News &amp; Events List View</a></li>
                                            <li><a th:href="@{/news-events/1}">News &amp; Events Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="#">Cart</a></li>
                                            <li><a href="#">Checkout</a></li>
                                            <li><a th:href="@{/signin}">Signin/Register</a></li>
                                            <li><a th:href="@{/}">404/Error</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/news-events}">Blog</a>
                                        <ul>
                                            <li><a th:href="@{/news-events}">Blog Grid View</a></li>
                                            <li><a th:href="@{/news-events}">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Services</a></li>
                                    <li><a th:href="@{/contact}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Admin - Inventory</h2>
                    <span class="underline center"></span>
                    <p class="lead">Manage stock levels for every catalogued book.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Admin - Inventory</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Admin Inventory Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="container">
                        <p th:if="${updateSuccess}" th:text="${updateSuccess}" style="color:#2e7d32;"></p>
                        <p th:if="${updateError}" th:text="${updateError}" style="color:#c0392b;"></p>

                        <table class="table" style="width:100%; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;">Title</th>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;">Author</th>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;">Category</th>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;">Available</th>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;">Total Copies</th>
                                    <th style="text-align:left; padding:8px; border-bottom:2px solid #ddd;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row : ${rows}">
                                    <td style="padding:8px; border-bottom:1px solid #eee;">
                                        <a th:href="@{/books/{id}(id=${row.bookId})}" th:text="${row.title}">Title</a>
                                    </td>
                                    <td style="padding:8px; border-bottom:1px solid #eee;" th:text="${row.author}">Author</td>
                                    <td style="padding:8px; border-bottom:1px solid #eee;" th:text="${row.category} ?: '-'">Category</td>
                                    <td style="padding:8px; border-bottom:1px solid #eee;" th:text="${row.availableCopies}">0</td>
                                    <td style="padding:8px; border-bottom:1px solid #eee;">
                                        <form method="post" th:action="@{/admin/inventory/{id}(id=${row.bookId})}" style="display:flex; gap:8px; align-items:center;">
                                            <input type="number" name="totalCopies" min="0" th:value="${row.totalCopies}" style="width:70px;">
                                            <input type="submit" value="Save" class="button btn btn-default">
                                        </form>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(rows)}">
                                    <td colspan="5">No books catalogued yet.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="margin-top:15px; font-size:0.9em; color:#777;">
                            Saving resets "Available" to match the new total - there's no borrow/return tracking in this system yet, so stock can't be partially reserved independently of the total.
                        </p>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Admin Inventory Section -->
        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About Libraria</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking.
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"></i>
                                        <span><a href="mailto:support@libraria.com">support@libraria.com</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li><a href="#">Library News</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Meet Our Staff</a></li>
                                        <li><a href="#">Board of Trustees</a></li>
                                        <li><a href="#">Budget</a></li>
                                        <li><a href="#">Annual Report</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="text-4" class="widget widget_text">
                                <h3 class="footer-widget-title">Timing</h3>
                                <span class="underline left"></span>
                                <div class="timming-text-widget">
                                    <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                    <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                    <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                    <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                    <ul>
                                        <li><a href="#">Closings</a></li>
                                        <li><a href="#">Branches</a></li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div class="widget twitter-widget">
                                <h3 class="footer-widget-title">Latest Tweets</h3>
                                <span class="underline left"></span>
                                <div id="twitter-feed">
                                    <ul>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                    </div>
                </div>                
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/books}">Books &amp; Media</a></li>
                                <li><a th:href="@{/news-events}">News &amp; Events</a></li>
                                <li><a href="#">Kids &amp; Teens</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a th:href="@{/news-events}">Blog</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer -->
        
        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
        
        <!-- jQuery UI -->
        <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
        
        <!-- jQuery Easing -->
        <script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        
        <!-- Mobile Menu -->
        <script type="text/javascript" th:src="@{/js/mmenu.min.js}"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" th:src="@{/js/harvey.min.js}"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" th:src="@{/js/waypoints.min.js}"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" th:src="@{/js/facts.counter.min.js}"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" th:src="@{/js/mixitup.min.js}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" th:src="@{/js/accordion.min.js}"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" th:src="@{/js/responsive.tabs.min.js}"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" th:src="@{/js/responsive.table.min.js}"></script>
        
        <!-- Masonry -->
        <script type="text/javascript" th:src="@{/js/masonry.min.js}"></script>
        
        <!-- Carousel Swipe -->
        <script type="text/javascript" th:src="@{/js/carousel.swipe.min.js}"></script>
        
        <!-- bxSlider -->
        <script type="text/javascript" th:src="@{/js/bxslider.min.js}"></script>
        
        <!-- Custom Scripts -->
        <script type="text/javascript" th:src="@{/js/main.js}"></script>

    </body>


</html>
